{% load static %}

 {% block scripts %}
    <link rel="stylesheet" href="{% static 'file_archive/list_tags/css/List-with-sticky-section-headings.css' %}">
    <link rel="stylesheet" href="{% static 'file_archive/list_tags/css/styles.css' %}">
{% endblock %}

{% block content %}
<div class="container">
  <dl class="sticky-stack">
      {% for tag in tags %}
          <dd><a href="{% url 'archive:tag_archive_list' tag.slug %}">{{ tag.name }}</a></dd>
      {% endfor %}
  </dl>
</div>
{% endblock %}