{% load static %}

{% block scripts %}
    <script src="{% static 'file_archive/main.js' %}" defer></script>
    <link href="{% static 'file_archive/style.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="col-lg-8 mx-auto">
        <div class="w-100 text-center">
            <form id="search-form" autocomplete="off">
                {% csrf_token %}
                <input type="text" id="search-input" class="p-3 w-50 search-focus" placeholder="Введите атрибуты для поиска">
            </form>
            <div id="results-box" class="results-card not-visible">
            </div>
        </div>
    </div>
{% endblock %}
